{% extends "base/base.html" %}
{% load static %}
{% block content %}

    <div class="container login mt-5 d-flex justify-content-center">
    <div class="row justify-content-center">
        <div class="col">
            <h2>Inscrivez-vous maintenant</h2>
            <a class="btn btn-primary" href="{% url 'account:signup' %}">S'inscrire</a>
        </div>
        <div class="col">
            <h2>Connectez-vous</h2>
            <form  method="post">
                {% csrf_token %}
                <input type="text" class="form-control" name="username" placeholder="Nom d'utilisateur"><br>
                <input type="password" class="form-control" name="password" placeholder="Mot de passe"><br>
                <input class="btn btn-primary" type="submit" value="Se connecter">
            </form>
                <div>
                    {% for message in messages %}
                    <span> {{ message }}</span>
                    {% endfor %}
                </div>
        </div>

    </div>
</div>
{% endblock %}