{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1> {{user.username.upper}} vous souhaitez effacer  votre piece d'armure</h1>
    <form enctype="multipart/form-data" method="POST" class="post-form border border-dark p-3">
    {% csrf_token %}
        
        <p>Voulez-vous supprimer cette piece d'armure: {{ armure.nom }} ? </p> 
            <input class="valid-ticket"type="submit" value="Validez la suppression de cette piece d'armure">
    </form>
    <a class="" href="{% url 'playeur:details_personnage' pk=armure.player.id %}" >Retour page profil</a>
</div>
{% endblock %}  