{% extends "base/base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
    <div class="container mt-5">
        <h1> {{user.username.upper}} vous souhaitez ajouter une nouvelle competence à votre personnage</h1>
        <form enctype="multipart/form-data" method="POST" class="post-form border border-dark p-3">
        {% csrf_token %}
            <p> Création competence </p>
                <table class="add-new-ticket">
                    {{form.as_table}}
                </table>
                <input class="valid-ticket"type="submit" value="Validez votre competence">
        </form>
        <a class="" href="{% url 'playeur:competences' pk=player.id%}" >Retour page competence</a>
    </div>
{% endif %}
{% endblock %}  