{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1> {{user.username.upper}} vous souhaitez effacer  votre competence</h1>
    <form enctype="multipart/form-data" method="POST" class="post-form border border-dark p-3">
    {% csrf_token %}
        
        <p>Voulez-vous supprimer cette competences: {{ competence.nom }} ? </p> 
            <input class="valid-ticket"type="submit" value="Validez la suppression de cette competence">
    </form>
    <a class="" href="{% url 'playeur:competences' pk=competence.player.id %}" >Retour page competences</a>
</div>
{% endblock %}  