{% extends "base/base.html" %}
{% load static %}

{% block content %}


<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'playeur:details_personnage' pk=player.id %}">Profil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'playeur:description' pk=player.id %}">Description</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'playeur:magie' pk=player.id %}">Magies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'playeur:competences' pk=player.id %}">Competences</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'playeur:equipements' pk=player.id %}">Equipements</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'playeur:morts_tuer' pk=player.id %}">Notes & Morts tués</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'playeur:montures' pk=player.id %}">Montures</a>
        </li>
    </ul> 

<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'playeur:nouvelle_competence' pk=player.id %}">ajouter competence</a>
        </li>
    </ul>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            {% for competence in competences %}
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Nom: {{ competence.nom }}
                </button>
            </h2>
        
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                
                    <div class="card" style="width: 60rem;">
                        <div class="card-body">
                            <h5 class="card-title">Nom: {{ competence.nom }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Bonus: {{ competence.bonus }}</h6>
                            <h6 class="card-subtitle mb-2 text-muted">Malus: {{ competence.malus }}</h6>
                            <h6 class="card-subtitle mb-2 text-muted">Niveau: {{ competence.niveau }}</h6>
                            <h6 class="card-title">Description de la competence:</h6>
                            <p class="card-text">{{ competence.description }}</p>
                            <div class="card-footer text-muted">
                                <h6 class="card-subtitle mb-2 text-muted">Lieu d'apprentissage: {{ competence.apprentissage }}</h6>
                                <h6 class="card-subtitle mb-2 text-muted">Cout en XP: {{ competence.cout_xp }}</h6>
                                <a href="{% url 'playeur:editter_competence' pk=competence.id %}" class="btn btn-primary">modifier</a>
                                <a href="{% url 'playeur:effacer_competence' pk=competence.id %}" class="btn btn-danger">supprimer</a>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
            {% endfor %}
        </div>
    </div>     
</div>



{% endblock %}  