{% extends "base/base.html" %}
{% load static %}
{% block content %}
    <div class="align-middle text-center">
        <h1> Bienvenue sur la page d'inscription</h1>
        <h1>Inscrivez-vous</h1>
        <form method="POST" class="form-horizontal d-grid gap-3">
            <div class="d-grid gap-1">
                {% csrf_token %}
                <div class="mb-3">
                    
                        <div class="py-1">
                         {{ form.as_p }}
                        </div>
                    
                </div>
            </div>
            <div>
                <a href="{% url 'account:connexion' %}" class="btn btn-outline-primary">Retourner accueil</a>
                <input type="submit" class="btn btn-primary" value="S'inscrire"/>
            </div>
        </form>
    </div>
{% endblock %}