{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="{% url 'playeur:details_personnage' pk=player.id %}">Profil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'playeur:description' pk=player.id %}">Description</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'playeur:magie' pk=player.id %}">Magies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'playeur:competences' pk=player.id %}">Competences</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'playeur:equipements' pk=player.id %}">Equipements</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'playeur:morts_tuer' pk=player.id %}">Notes & Morts tués</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'playeur:montures' pk=player.id %}">Montures</a>
        </li>
    </ul> 

    <div class="row">
        <div class="col-auto order-first">
            {% if player.photo %}
                    <img src="{{ player.photo.url }}"alt="Image">
            {% endif %}
        </div>
        <div class="col-auto">
            <p class="p-1 border bg-light">Description: {{ player.description_perso }}</p>               
        </div>
    </div>  
</div>


{% endblock %}  