{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1> {{user.username.upper}} vous souhaitez effacer  un plan de carriere</h1>
    <form enctype="multipart/form-data" method="POST" class="post-form border border-dark p-3">
    {% csrf_token %}
        
        <p>Voulez-vous supprimer ce plan de carriere: {{ plan_carriere.nom }} ? </p> 
            <input class="valid-ticket"type="submit" value="Validez la suppression du plan de carriere">
    </form>
    <a class="" href="{% url 'playeur:details_personnage' pk=plan_carriere.player.id%}" >Retour page profil</a>
</div>
{% endblock %}  