{% extends "base/base.html" %}
{% load static %}

{% block content %}
<form enctype="multipart/form-data" action="" method="POST">
    {% csrf_token %}

</form>
<div class="container mt-5">
    <h1> {{user.username.upper}} vous souhaitez modifier votre personnage</h1>
    <form enctype="multipart/form-data" method="POST" class="post-form border border-dark p-3">
    {% csrf_token %}
        <p> Création de personnage </p>
            <table class="add-new-ticket">
                {{form.as_table}}
            </table>
            <input class="valid-ticket"type="submit" value="Validez votre personnage">
    </form>
    <a class="" href="{% url 'playeur:details_personnage' pk=player.id %}" >Retour page profil</a>
</div>
{% endblock %}  